* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
  color: #444;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
